body{

font-family:Arial;
margin:0;
background:#f2f2f2;

}

header{

background:black;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;

}

.container{

max-width:1100px;
margin:auto;
padding:30px;

}

section{

background:white;
padding:20px;
margin-bottom:25px;
border-radius:10px;

}

input{

display:block;
width:100%;
padding:10px;
margin-bottom:10px;

}

button{

background:black;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;

}

.productoAdmin{

display:flex;
align-items:center;
justify-content:space-between;
border-bottom:1px solid #ddd;
padding:10px;

}

.productoAdmin img{

width:60px;
height:60px;
object-fit:cover;

}

.pedidoAdmin{

border-bottom:1px solid #ddd;
padding:10px;

}
