body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  color: white;
}

.logo img {
  height: 40px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.menu a:hover {
  color: red;
}

.cart-icon {
  position: relative;
  font-size: 20px;
}

#cart-count {
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -15px;
}

/* PRODUCTOS */
.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  gap: 30px;
}

.producto {
  background: white;
  padding: 20px;
  text-align: center;
  width: 250px;
  border: 1px solid #ddd;
}

.producto img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.producto button {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.producto button:hover {
  background: red;
}
